<article class="producto__carrito">
    <figure class="logo"><!--imagen del producto-->
        <img src="" alt="">
    </figure>

    <p></p><!--nombre del producto-->
    <p></p><!--precio unitario-->
    <p></p><!--cantidad-->
    <p></p><!--precio total-->
</article>