<header>
    <div class = "top-header">
        <div class="logo_akme">
            <a href="/"><img class="logo" src="/images/logo-akme-safety.png" alt="logo akme"></a>
        </div>

        <form class="search" action="#" method="GET">
            <input type="text" class ="input" placeholder="Buscar productos, marcas y más">
            <button class="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul>
            <% if (locals.isLogged) {%>
                <li><a href="/users/profile"><p>Hola <%= locals.userLogged.first_name %></a></p></li>  
                <li><a href="/users/userCart"><i class="fa-solid fa-cart-shopping"><p>Mi carrito</p></i></a></li>
                <li><a href="/users/logout"><i class="fas fa-sign-out"><p>Cerrar Sesión</p></i></a></li>
            <% } else {%> 
                <li><a href="/users/login"><i class="fa-solid fa-user"><p>Iniciar Sesión</p></i></a></li>
            <% } %> 
        </ul>
    </div>
    <div class="nav-bg">
        <nav class="contenedor-nav">
            <a href="/">Home</a>
            <a href="/products/products">Productos</a>
            <a href="/contact">Contacto</a>
            <a href="/about">Nosotros</a>
            <% if (locals.isLogged && locals.userLogged.roleId == 1) {%> 
            <a href="/users/adminMenu">Admin</a>
            <% } %>             
        </nav>
    </div>


</header>