<!DOCTYPE html>
<html lang="en">
    
<!-- Head -->
<%- include('../partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %> 
    
    <main class="main-contact">
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>     
    
</body>
</html>