<!DOCTYPE html>
<html lang="en">
    
<!-- Head -->
<%- include('../partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %> 
    
    <main class="main-login">

        <h3 class="login-title">MENU ADMINISTRADOR</h3>

        <div class="form-buttons">
            <a href="/products/create"><button type="submit" class="submit-button">ADMINISTRAR PRODUCTOS</button></a> 
            <a href="/users/users"><button type="submit" class="submit-button">ADMINISTRAR USUARIOS</button></a>
        </div>
    
        </form>       
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>  
    
</body>
</html>